<p>Deployed by Codeship habtm-rails fix master  Success</p>
<%= link_to "Add+",new_product_path %>

<%= link_to "Category+",categories_path %>

<ul>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name_category , category_path(category.id) %></li>
  <% end %>
</ul>

<hr>

<table border="1px">
  <tr>
    <td>Name</td>
    <td>Category</td>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name_product  %></td>
      <td>
        <% product.categories.each do |category| %>
          <%= link_to category.name_category ,category_path(category.id)%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% @products.each do |product| %>

<% end %>